doctype html
head
  link(rel='stylesheet' type='text/css' href='css/style.css')
  script(src='https://cdn.plot.ly/plotly-latest.min.js')
#container
  #container_A
    p Combined Order Book for the BTC_ETH Market by Ted Thayer
  #space_horizontal
  #container_B1
    #header_B13
      p #{bit_t} Bittrex Orders
    table
      tr
        th Rate
        th Volume
      tr
        td #{tbr[0]}
        td #{tbq[0]}
      tr
        td #{tbr[1]}
        td #{tbq[1]}
      tr
        td #{tbr[2]}
        td #{tbq[2]}
      tr
        td #{tbr[3]}
        td #{tbq[3]}
      tr
        td #{tbr[4]}
        td #{tbq[4]}
      tr
        td #{tbr[5]}
        td #{tbq[5]}
      tr
        td #{tbr[6]}
        td #{tbq[6]}
      tr
        td #{tbr[7]}
        td #{tbq[7]}
      tr
        td #{tbr[8]}
        td #{tbq[8]}
      tr
        td #{tbr[9]}
        td #{tbq[9]}
      tr
        td #{tbr[10]}
        td #{tbq[10]}
      tr
        td #{tbr[11]}
        td #{tbq[11]}
  #space_vertical
  #container_B2
    #header_B2
      p Volume Plots
    #subhead_B2_bids
      p Bids
    #subhead_B2_highlight
    #subhead_B2_ask
      p Asks
    #plotbox_B2
  #space_vertical
  #container_B3
    #header_B13
      p #{pol_t} Poloniex Orders
    table
      tr
        th Rate
        th Volume
        tr
          td #{tpr[0]}
          td #{tpq[0]}
        tr
          td #{tpr[1]}
          td #{tpq[1]}
        tr
          td #{tpr[2]}
          td #{tpq[2]}
        tr
          td #{tpr[3]}
          td #{tpq[3]}
        tr
          td #{tpr[4]}
          td #{tpq[4]}
        tr
          td #{tpr[5]}
          td #{tpq[5]}
        tr
          td #{tpr[6]}
          td #{tpq[6]}
        tr
          td #{tpr[7]}
          td #{tpq[7]}
        tr
          td #{tpr[8]}
          td #{tpq[8]}
        tr
          td #{tpr[9]}
          td #{tpq[9]}
        tr
          td #{tpr[10]}
          td #{tpq[10]}
        tr
          td #{tpr[11]}
          td #{tpq[11]}
  #space_horizontal
  #container_C
    p
      | &quot;I&apos;ve been working on a new electronic cash system that&apos;s fully peer-to-peer, with no trusted third party&quot; - Szabo, 2008
script.
  var ilayout = JSON.parse('!{layouti}');
  var idata = JSON.parse('!{datai}');
  Plotly.plot("plotbox_B2", idata, ilayout );
