doctype html
head
  link(rel='stylesheet' type='text/css' href='css/style.css')
  script(src='https://cdn.plot.ly/plotly-latest.min.js')
#container
  #container_A
    p Combined Order Book for the BTC_ETH Market by Ted Thayer
  #space_horizontal
  #container_B1
    #header_B13
      p #{bit_t} Bittrex Orders
    table
      tr
        th Rate
        th Volume
      tr
        td
          font(color='#00a001') #{tbr[0]}
        td
          font(color='#00a001') #{tbq[0]}
      tr
        td
          font(color='#00a001') #{tbr[1]}
        td
          font(color='#00a001') #{tbq[1]}
      tr
        td
          font(color='#00a001') #{tbr[2]}
        td
          font(color='#00a001') #{tbq[2]}
      tr
        td
          font(color='#00a001') #{tbr[3]}
        td
          font(color='#00a001') #{tbq[3]}
      tr
        td
          font(color='#00a001') #{tbr[4]}
        td
          font(color='#00a001') #{tbq[4]}
      tr
        td
          font(color='#00ff00') #{tbr[5]}
        td
          font(color='#00ff00') #{tbq[5]}
      tr
        td
          font(color='#ff1000') #{tbr[6]}
        td
          font(color='#ff1000') #{tbq[6]}
      tr
        td
          font(color='#990a00') #{tbr[7]}
        td
          font(color='#990a00') #{tbq[7]}
      tr
        td
          font(color='#990a00') #{tbr[8]}
        td
          font(color='#990a00') #{tbq[8]}
      tr
        td
          font(color='#990a00') #{tbr[9]}
        td
          font(color='#990a00') #{tbq[9]}
      tr
        td
          font(color='#990a00') #{tbr[10]}
        td
          font(color='#990a00') #{tbq[10]}
      tr
        td
          font(color='#990a00') #{tbr[11]}
        td
          font(color='#990a00') #{tbq[11]}
  #space_vertical
  #container_B2
    #header_B2
      p Volume Plots
    #subhead_B2_bids
      p Bids
    #subhead_B2_highlight
    #subhead_B2_ask
      p Asks
    #subhead_B2_hl_under
      p Current Overlap: #{olap} BTC/ETH
    #plotbox_B2
  #space_vertical
  #container_B3
    #header_B13
      p #{pol_t} Poloniex Orders
    table
      tr
        th Rate
        th Volume
        tr
          td
            font(color='#00a001') #{tpr[0]}
          td
            font(color='#00a001') #{tpq[0]}
        tr
          td
            font(color='#00a001') #{tpr[1]}
          td
            font(color='#00a001') #{tpq[1]}
        tr
          td
            font(color='#00a001') #{tpr[2]}
          td
            font(color='#00a001') #{tpq[2]}
        tr
          td
            font(color='#00a001') #{tpr[3]}
          td
            font(color='#00a001') #{tpq[3]}
        tr
          td
            font(color='#00a001') #{tpr[4]}
          td
            font(color='#00a001') #{tpq[4]}
        tr
          td
            font(color='#00ff00') #{tpr[5]}
          td
            font(color='#00ff00') #{tpq[5]}
        tr
          td
            font(color='#ff1000') #{tpr[6]}
          td
            font(color='#ff1000') #{tpq[6]}
        tr
          td
            font(color='#990a00') #{tpr[7]}
          td
            font(color='#990a00') #{tpq[7]}
        tr
          td
            font(color='#990a00') #{tpr[8]}
          td
            font(color='#990a00') #{tpq[8]}
        tr
          td
            font(color='#990a00') #{tpr[9]}
          td
            font(color='#990a00') #{tpq[9]}
        tr
          td
            font(color='#990a00') #{tpr[10]}
          td
            font(color='#990a00') #{tpq[10]}
        tr
          td
            font(color='#990a00') #{tpr[11]}
          td
            font(color='#990a00') #{tpq[11]}
  #space_horizontal
  #container_C
    p
      | &quot;I&apos;ve been working on a new electronic cash system that&apos;s fully peer-to-peer, with no trusted third party&quot; - Szabo, 2008
script.
  var ilayout = JSON.parse('!{layouti}');
  var idata = JSON.parse('!{datai}');
  Plotly.plot("plotbox_B2", idata, ilayout );
